body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 28px;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_container {
    margin: 0 auto;
    padding-top: 60px;
    width: 1450px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.logo_image {
    height: 90px;
}

.main_content {
    
}