body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 28px;
    color: white;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

.main_container {
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    width: 1450px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.logo_image {
    height: 90px;
}

.main_content {
    margin: 0 auto;
    margin-top: 170px;
}

.main_suptitle_container {
    width: 1450px;
}

.main_suptitle {
    font-family: Fondamento;
    font-size: 215px;
    color: white;
}

.main_text_container {
    margin-top: 50px;
}

.main_buttons {
    margin-top: 95px;
}

.main_btn {
    text-decoration: none;
    border-radius: 50px;
    border-color: #545454;
    border-style: solid;
    border-spacing: 21px 21px 75px 75px;
    padding: 25px 75px 25px 75px;
    padding-right: 75px;
    padding-bottom: 25px;
    color: #545454;
}

a:hover {
    border-color: white;
    color: white;
    transition: 0.5s;
}

.footer {
    font-weight: bolder;
    text-align: center;
    margin-top: 240px;
    font-size: 16px;
    color: #545454;
}